

<html>
<head>

</head>
<body>
<form #patientLoginForm = "ngForm" (ngSubmit)="loginPatient(patientLoginForm.value)">
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Patient Login Form </p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" name="Username"   [(ngModel)]="patientLoginData.username" class="form-control" placeholder="username *"/>
            </div>
            <div class="form-group">
              <input type="password" name="password" [(ngModel)]="patientLoginData.password" class="form-control" placeholder="Your Password *" />
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit" name="Login" >Login</button>
      </div>
    </div>
  </div>
</form>
</body>
</html>
