<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<html>
  <body style="background-color: royalblue">
<!--<div class="top_section"></div>-->
  <div class="card-deck">
    <div class="card">
      <a routerLink="//patient-registration" routerLinkActive="active">
        <img src="../assets/images/user.png" class="card-img-top" class="align-content-center">
      <div class="card-body">
        <h5 class="card-title" class="align-content-center">Patient Portal</h5>

      </div></a>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
  </div>
<!--  <div class="footer"></div>-->

</body>
</html>
